<app-search></app-search>
<app-tags></app-tags>
<ul>
    <li *ngFor="let food of foods">
        <a routerLink="/food/{{food.id}}">
            <img src="{{food.imageUrl}}" alt="Food Image Not availabe" height="200px" width="300px">
            <div class="content">
                <div class="name">
                    {{food.name}}
                </div>
                <span class="favorite {{food.favorite?'': 'not'}}">♥</span>
                <star-rating [value]="food.star" [totalstars]="5" checkedcolor="red" uncheckedcolor="black" size="24px"
                    [readonly]="true">
                </star-rating>
                <div class="product-item-footer">
                    <div class="origins">
                        <span *ngFor="let origin of food.origins">
                            {{origin}}
                        </span>
                    </div>
                    <div class="cook-time">
                        <span>🕐</span>
                        {{food.cookTime}}
                    </div>
                </div>
                <div class="price">
                    {{food.price| currency }}
                    <!-- {{food.price| currency : "INR"}} -->
                </div>
            </div>
        </a>
    </li>
</ul>